# Gateway
/gateway/apisix
/gateway/etcd
/gateway/default.etcd

!/gateway/apisix/apisix/plugins/auth-bios/**
!/gateway/apisix/apisix/plugins/auth-bios.lua
!/gateway/apisix/conf/config-default.yaml
!/gateway/apisix/t/plugin/auth-bios
!/gateway/apisix/t/certs
!/gateway/apisix/t/error_page
!/gateway/apisix/t/APISIX.pm

# CI
/.github/deploy_key
out

# Executables
*.exe

# Cargo
Cargo.lock
target

# gh pages docs
util/gh-pages/lints.json
**/metadata_collection.json

# rustfmt backups
*.rs.bk

# IDE
*.iml
.vscode
.idea
