*-prod.toml
*-prod.yaml
# CI
/.github/deploy_key
out

# Executables
*.exe

# Cargo
Cargo.lock
target

# gh pages docs
util/gh-pages/lints.json
**/metadata_collection.json

# rustfmt backups
*.rs.bk

# node
node_modules

# IDE
*.iml
.idea
.vscode/*
!/.vscode/extensions.json
/.history/

#macos
.DS_Store
#gateway dev
backend/gateway/example/log
backend/services/spacegate/devsh/

# pre-commit
.pre-commit-config.yaml

.uuid
