[workspace]

members = [
    "basic",
    "spi/*",
    "gateway/test",
    "middleware/event",
    "middleware/schedule",
    "middleware/flow",
    "support/iam",
    "support/auth",
    "support/enhance-wasm",
    "services/*",
    "sdk/*",
]

[workspace.package]
version = "0.1.0"
authors = [
    "gudaoxuri <i@sunisle.org>",
    "hermitCode <17743125563@163.com>",
    "RWDai <rwdai@foxmail.com>",
]
homepage = "https://bios.idealworld.group"
documentation = "https://bios.idealworld.group"
repository = "https://github.com/ideal-world/bios"
license = "Apache-2.0"
edition = "2021"
readme = "README.adoc"
publish = false

[profile.release]
lto = true
codegen-units = 1
opt-level = "z"
panic = "abort"
strip = true

[workspace.dependencies]
# basic
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1" }
async-trait = { version = "0.1" }
lazy_static = { version = "1" }
itertools = { version = "0" }
fancy-regex = { version = "0" }
run_script = { version = "0.10" }

# tardis
tardis = { version = "=0.1.0-beta.10" }
# tardis = { paths = "../tardis/tardis" }
