[package]
name = "bios-event"
version.workspace = true
authors.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
readme.workspace = true
publish.workspace = true

[dependencies]

tardis = { workspace = true, features = [
  "web-server",
  "conf-remote",
] }

bios-mw-event = { version = "0.2.0", path = "../../middlewares/event" }

# see [issue](https://github.com/kube-rs/kube/issues/1486)
json-patch = { version = "=1.2.0" }

tracing = { version = "0", features = ["release_max_level_info"] } 

dhat = {version = "0.3.3", optional = true}



[features]
default = []
analysis = ["dep:dhat"]