[package]
name = "event"
version.workspace = true
authors.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
readme.workspace = true
publish.workspace = true

[dependencies]
serde.workspace = true
tardis = { workspace = true, features = [
  "web-server",
  "conf-remote",
  "tracing",
] }

bios-mw-event = { version = "0.2.0", path = "../../middlewares/event" }

# see [issue](https://github.com/kube-rs/kube/issues/1486)
json-patch = { version = "=1.2.0" }