[package]
name = "bios-serv-ldap"
version.workspace = true
authors.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
readme.workspace = true
publish.workspace = true

[dependencies]
serde.workspace = true
tardis = { workspace = true, features = [
  "conf-remote",
  "tracing",
] }
bios-iam = { version = "0.2.0", path = "../../supports/iam", features = ["ldap_server"] }

[dev-dependencies]
bios-basic = { version = "0.2.0", path = "../../basic", features = ["test"] }
ldap3 = "0.11"
