name: Publish all services docker image

on:
  push:
    paths:
      - "backend/basic/**"
      - "backend/support/iam/**"
      - "backend/support/auth/**"
      - "backend/support/reach/**"
      - "backend/services/**"
      - "backend/spi/**"
      - "backend/middleware/**"
      - "Cargo.toml"
      - ".github/workflows/service-all-push.yml"

jobs:
  push_to_registry:
    name: Push docker image to registry
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Init rust envrionment
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy

      - name: Cache rust
        uses: Swatinem/rust-cache@v2

      - name: Build rust
        run: cargo build --release -p bios-serv-all

      - name: Copy binary to workspace
        run: cp ./target/release/bios-serv-all ./services/bios-all/

      - name: Build and push Docker image to dockerhub
        uses: mr-smithers-excellent/docker-build-push@v5
        with:
          directory: services/bios-all
          dockerfile: services/bios-all/Dockerfile
          registry: docker.io
          image: ecfront/bios-serv-all
          tags: latest
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
