name: Publish rust gateway docker image

on:
  push:
    paths:
      - "gateway/spacegateway/**"
      - ".github/workflows/space-gateway-docker-push.yml"

jobs:
  push_to_registry:
    name: Push docker image to registry
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Init rust envrionment
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy

      - name: Cache rust
        uses: Swatinem/rust-cache@v2

      - name: Build rust
        run: cargo build --release

      - name: Copy binary to workspace
        run: cp ./target/release/spacegateway ./gateway/spacegateway/

      - name: Build and push Docker image to dockerhub
        uses: mr-smithers-excellent/docker-build-push@v5
        with:
          directory: gateway/spacegateway
          dockerfile: gateway/spacegateway/Dockerfile
          registry: docker.io
          image: ecfront/spacegateway
          tags: latest
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

